html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cont-2 {
    height: 50%;
}

button {
    font-size: xx-large;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    font-size: 5rem;
}

#cont-1 {
    opacity: 0;
}

.hello {
    animation: hello 3s linear forwards;
}

@keyframes hello {
    from {
        transform: rotate(0deg) scale(0);
        color: rgb(189, 221, 10);
    }
    
    75% {
        opacity: 50%;
        transform: rotate(810deg) scale(3);
        color: rgb(51, 240, 45);
    }
    
    to {
        opacity: 100%;
        transform: rotate(1080deg) scale(1);
        color: rgb(14, 139, 31);
    }
}